<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
<!--urlfor(경로) 함수 사용-->
</head>
<body>
    <div id="container">
        <h2> loop.index 예제</h2>
        <ul>
            <p> loop.index 순차 정렬</p>
            {% for item in items %}
            <li> {{ loop.index }} - {{item}}</li>
            {% endfor %}
            <br>
            <p> loop.revindex 역순 정렬</p>
            {% for item in items %}
            <li> {{ loop.revindex }} - {{item}}</li>
            {% endfor %}
            <br>
            <p> loop.index0 0부터 순차 정렬</p>
            {% for item in items %}
            <li> {{ loop.index0 }} - {{item}}</li>
            {% endfor %}
        </ul>

    </div>
</body>
</html>